<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768185839623-l8fn9j2pivc2h7s859iv4g2tejp19rf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768185839623-l8fn9j2pivc2h7s859iv4g2tejp19rf7</string>
	<key>API_KEY</key>
	<string>AIzaSyBekzRP6lK8on4PVtiQdwlBlqCJUZpRXJA</string>
	<key>GCM_SENDER_ID</key>
	<string>768185839623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berthstudios.Quizio</string>
	<key>PROJECT_ID</key>
	<string>quizio-d08df</string>
	<key>STORAGE_BUCKET</key>
	<string>quizio-d08df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768185839623:ios:e6719529a8c56c63f97aa2</string>
	<key>DATABASE_URL</key>
	<string>https://quizio-d08df.firebaseio.com</string>
</dict>
</plist>